<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>This is our template for the website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, magnam vitae facilis facere sed, harum dolorem cupiditate modi sequi, quae suscipit rem voluptates in impedit vel assumenda ducimus. Vitae, voluptatum?</p>
    <p>{{message}}</p>
</body>
</html>